.Greyback
{

	background-color: #303030;
	padding-top: 0px;
	border:0px;
	margin-bottom: 0px;


}

.white
{
	background-color: #f5fffa;
	padding-top: 0px;
	border:0px;
	margin-bottom: 0px;

}

 .navbar-transparent 
 {
	  background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none;  
 }

 .navbar
{
    margin-bottom: 0px;
    border:0px;
}

.padbox
{

	padding:20px;
}
/*Booking css start*/
.front
{width: 730px;margin: 5px 32px 45px 32px;background-color: #1a7af0; color: white;text-align: center;padding: 3px;border-radius: 5px;} 

.booking-details 
{float: right;position: relative;left:-100px;width:220px;height: 650px; } 

.booking-details h3 {margin: 5px 5px 0 0;font-size: 16px;} 

.booking-details p{line-height:26px; font-size:16px; color:black;} 

.booking-details p span{color:#180458;} 

div.seatCharts-cell {color: #1a95f5;height: 25px;width: 50px;line-height: 25px;margin: 8px;float: left;text-align: center;outline: none;font-size: 13px;} 

div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;} 

div.seatCharts-row {height: 35px;} 

div.seatCharts-seat.available {background-color: blue;} 

div.seatCharts-seat.focused {background-color: #f0661a;border: none;} 

div.seatCharts-seat.selected {background-color: #00ff06;} 

div.seatCharts-seat.unavailable {background-color: #f01a66;cursor: not-allowed;} 

div.seatCharts-container {border-right: 1px solid #303030;width: 810px;padding: 20px;float: left;} 

div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;} 

ul.seatCharts-legendList {padding-left: 0px;} 

.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;} 

span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;} 

.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer} 

#selected-seats {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;} 

#selected-seats li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center} 

/*Booking css end*/